footer {
    background: var(--back);
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

footer .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4em;
    row-gap: .8em;
    font-size: .8em;
}

footer select {
    padding: 1em 1.2em;
    margin-bottom: 2em;
    position: relative;
}

footer select,
footer select option {
    background: var(--select);
}

footer select::before {
    content: url(../images/global.png);
    filter: invert();
    width: 20px;
    position: absolute;
    left: 0;
}